{
  "build": {
    "core": "esp32",
    "extra_flags": ["-D ESP32_S3"]
  },
  "upload": {
    "speed": 921600,
    "use_1200bps_touch": false,
    "wait_for_upload_port": true,
    "network": false
  },
  "monitor": {
    "speed": 115200
  }
}
